#warper {
    width: 80%;
    margin: 0 auto;
}
.info {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}
.info .billing-info {
    flex-basis: 58%;
    /* background-color: antiquewhite; */
    height: 500px;
    margin-left: 2%;
}
.billing-info .input-name input {
    width: 720px;
    height: 23px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px gray;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.billing-info .input-address {
    /* display: flex; */
    /* margin: 10px; */
    display: flex;
    margin-right: 5px;
    /* grid-template-columns: ; */
}
.input-address .input-payment {
    flex-basis: 48%;
    /* margin: 5%; */
}
.input-address .input-payment2 {
    flex-basis: 4%;
    /* margin: 5%; */
}
.input-address .input-payment {
    flex-basis: 48%;
    /* margin: 5%; */
}
.input-address .input-payment input {
    outline: none;
    border: none;
    box-shadow: 0 0 3px gray;
    width: 100%;
    height: 25px;
    margin-top: 5px;
}
.input-address .input-payment input {
    outline: none;
    border: none;
    box-shadow: 0 0 3px gray;
    width: 100%;
    height: 23px;
    border-radius: 5px;
    padding: 5px;
}

.input-name .star {
    color: red;
    margin-bottom: 2px;
    font-weight: bold;
}
.input-address .star {
    color: red;
    margin-bottom: 2px;
    font-weight: bold;
}
span {
    margin-bottom: 5px;
    font-weight: bold;
}
.input-address .input-payment select {
    width: 100%;
    /* margin-top: 30px; */
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px gray;
    margin-top: 5px;
}
.info .oder-info {
    flex-basis: 38%;
    /* background-color: aqua; */
    min-height: 500px;
    border: 2px solid rgb(0, 119, 255);
    margin-left: 2%;
}
.oder-info .s1 {
    width: 90%;
    margin: 0 auto;
}
.oder-info td {
    width: 900px;
    /* padding-bottom: 20px; */
    padding-top: 20px;
    border-bottom: 3px solid gainsboro;
}
.tb-pay td div {
    text-align: right;
    font-weight: bold;
}
.mb-3 {
    /* 1rem = 16px */
    margin: 0rem 1rem 1rem 1rem;
}
.add textarea {
    width: 100%;
    height: 93px;
    padding: 5px;
    outline: none;
}
.oder-info .course_qr_img {
    display: block;
    width: 15rem;
}
.ck {
    margin-top: 8px;
    font-weight: bold;
}
.ck p {
    margin: 17px 0;
    border-bottom: 1px solid rgb(221, 218, 218);
}
.btn {
    text-align: center;
    display: flex;
    justify-content: center;
}
.btn button {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    /* background-image: linear-gradient(rgb(206, 135, 135), rgb(206, 135, 135));
      background-repeat: no-repeat;
      background-position: 0% 100%;
      background-size: 100% 0%;
      transition: background-size 0.2s ease-in;   */
}
.btn button:hover {
    /* background-position: 0% 0%;
      background-size: 100% 100%; */
    transform: scale(1.05);
    transition: 0.5s;
    opacity: 0.6;
}
.text-btn p {
    margin-top: 10px;
    text-align: justify;
    color: rgb(110, 109, 109);
    font-size: 15px;
}
